In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
continuar=True
tiradas=0
points=[0,0]
player_position=[5,7]
continuar=True
while continuar:
    dice=((tiradas*3)+2)*3 #
    
    actual_player=tiradas%2
    player_position[actual_player]+=dice
    player_position[actual_player]=player_position[actual_player]%10
    
    points[actual_player]+=(player_position[actual_player]+1)
    #print(f'player={actual_player}:dice={dice}:position:{player_position[actual_player]+1} points:{points[actual_player]}')
    if points[actual_player]>=1000:
        continuar=False
    tiradas+=1

In [3]:
min(points)*(tiradas*3)

757770

In [4]:
tiradas*3

1005

In [8]:
sumas

array([0., 0., 0., 1., 3., 6., 7., 6., 3., 1.])

In [9]:
#part 2

In [72]:
score_posicio_a=np.zeros((10,1000))
score_posicio_b=np.zeros((10,1000))
score_posicio_a[5,0]=1
score_posicio_b[7,0]=1

In [11]:
dice_counts={'3':1,'4':3,'5':6,'6':7,'7':6,'8':3,'9':1}
dice_counts_list=[[3,1],[4,3],[5,6],[6,7],[7,6],[8,3],[9,1]]

In [12]:
inicial_score=score_posicio_a

In [13]:
def tirar_daus_quantics(inicial_score):
    new_score=np.zeros((10,1000))
    for score in range(40):
        for posicio in range(10):
            posicions=(posicio+np.arange(3,10))%10
            scores=score+(posicions+1)
            universos=sumas[3:]*inicial_score[posicio,score]
            '''if sum(universos):
                print(posicions)
                print(scores)
                print(universos)'''
            for p,s,u in zip(posicions,scores,universos):
                    new_score[p,s]+=u
    return new_score

In [14]:
score_a=score_posicio_a
score_b=score_posicio_b

In [180]:

score_a=tirar_daus_quantics(score_a)

score_b=tirar_daus_quantics(score_b)

In [181]:
[score_a.sum(),score_b.sum()]

[19683.0, 19683.0]

In [182]:
[score_a[:,21:].sum(),score_b[:,21:].sum()]

[4608.0, 1730.0]

In [73]:
inicial_score=score_posicio_a
winners=0

In [85]:
def tirar_daus_quantics(inicial_score):
    
    new_score=np.zeros((10,50))
    for score in range(40):
        for posicio in range(10):
            posicions=(posicio+np.arange(3,10))%10
            scores=score+(posicions+1)
            universos=sumas[3:]*inicial_score[posicio,score]
            '''if sum(universos):
                print(posicions)
                print(scores)
                print(universos)'''
            for p,s,u in zip(posicions,scores,universos):
                    new_score[p,s]+=u

    return new_score

In [ ]:
inicial_score=score_posicio_a
new_score=tirar_daus_quantics(inicial_score)

In [83]:

new_score=np.zeros((10,50))
for score in range(40):
    for posicio in range(10):
        posicions=(posicio+np.arange(3,10))%10
        scores=score+(posicions+1)
        universos=sumas[3:]*inicial_score[posicio,score]
        '''if sum(universos):
            print(posicions)
            print(scores)
            print(universos)'''
        for p,s,u in zip(posicions,scores,universos):
                new_score[p,s]+=u

winners+=new_score[:,21:].sum()
new_score[:,21:]=0
inicial_score=new_score.copy()   
print(winners)

282479757.0

In [37]:
scores_a=new_score

In [46]:
inicial_score=score_posicio_b
winners=0

In [57]:

new_score=np.zeros((10,50))
for score in range(40):
    for posicio in range(10):
        posicions=(posicio+np.arange(3,10))%10
        scores=score+(posicions+1)
        universos=sumas[3:]*inicial_score[posicio,score]
        '''if sum(universos):
            print(posicions)
            print(scores)
            print(universos)'''
        for p,s,u in zip(posicions,scores,universos):
                new_score[p,s]+=u

winners+=new_score[:,21:].sum()
new_score[:,21:]=0
inicial_score=new_score.copy()   
print(winners)

196218569.0

## lista de universos

In [9]:
sumas=np.zeros(10)
for i1 in range(1,4):
    for i2 in range(1,4):
        for i3 in range(1,4):
            sumas[i1+i2+i3]+=1

In [265]:
universos=[[5,0,7,0,1]]
guanyen_s1=0
guanyen_s2=0
gs1=[]

In [266]:
continuar=True
while continuar:
    universo_out=[]
    for u in universos:
        posicio1=u[0]
        score1=u[1]
        posicio2=u[2]
        score2=u[3]
        universos=u[4]
        posicions1=(posicio1+np.arange(3,10))%10
        scores1=score1+(posicions1+1)
        posicions2=(posicio2+np.arange(3,10))%10
        scores2=score2+(posicions2+1)
        for p1,s1,u1 in zip(posicions1,scores1,sumas[3:]):
            if s1>=21:
                universo_out.append([p1,s1,posicio2,score2,(u1*universos).astype(int)])
            
        for p1,s1,u1 in zip(posicions1,scores1,sumas[3:]):
            for p2,s2,u2 in zip(posicions2,scores2,sumas[3:]):
                if s1<21:
                    universo_out.append([p1,s1,p2,s2,(u1*u2*universos).astype(int)])

    if len(universo_out)>0:
        universo_df=pd.DataFrame(universo_out).rename(columns={0:'p1',1:'s1',2:'p2',3:'s2',4:'u'}).groupby(['p1','s1','p2','s2']).u.sum().reset_index()
    
        no_acavats=universo_df[(universo_df.s1<21)&(universo_df.s2<21)]
        gs1.append(universo_df[(universo_df.s1>=21)&(universo_df.s2<21)].u.sum())
        anterior=guanyen_s1
        guanyen_s1+=int(universo_df[(universo_df.s1>=21)].u.sum())
        if guanyen_s1<anterior:
            print('error')
        guanyen_s2+=int(universo_df[(universo_df.s2>=21)&(universo_df.s1<21)].u.sum())
        universo_df=no_acavats
        universos=[list(universo_df.iloc[i,:].values) for i in range(universo_df.shape[0])]
        print(f'{len(universos)}->[{guanyen_s1} vs {guanyen_s2}]')
    else:
        continuar=False

49->[0 vs 0]
2401->[0 vs 0]
12870->[1279395 vs 31015440]
8464->[4094347959 vs 59101037748]
4900->[1343154806659 vs 9010627230610]
2401->[57130635298323 vs 175782206423114]
625->[502821419514533 vs 512661845395730]
100->[709444584321611 vs 540922134016620]
1->[712381571817095 vs 540941920252956]
0->[712381680443927 vs 540941920252956]

In [267]:
guanyen_s1>guanyen_s2

True

In [227]:
np.sum(np.array(gs1).astype(int))

154376328344663

In [168]:
int(np.sum(gs1[7:]))+int(np.sum(gs1[:7]))

271438145890854

In [151]:
8384407975224999+3613206529735506

11997614504960505

In [153]:
guanyen_s2

341960390180808.0

In [17]:
universo_df=pd.DataFrame(universo_out).rename(columns={0:'p1',1:'s1',2:'p2',3:'s2',4:'u'}).groupby(['p1','s1','p2','s2']).u.sum().reset_index()

In [18]:
universo_df

    p1  s1  p2  s2     u
0    0   1   0   1   6.0
1    0   1   1   2  18.0
2    0   1   2   3  36.0
3    0   1   3   4  42.0
4    0   1   4   5  36.0
5    0   1   5   6  18.0
6    0   1   6   7   6.0
7    1   2   0   1   3.0
8    1   2   1   2   9.0
9    1   2   2   3  18.0
10   1   2   3   4  21.0
11   1   2   4   5  18.0
12   1   2   5   6   9.0
13   1   2   6   7   3.0
14   2   3   0   1   1.0
15   2   3   1   2   3.0
16   2   3   2   3   6.0
17   2   3   3   4   7.0
18   2   3   4   5   6.0
19   2   3   5   6   3.0
20   2   3   6   7   1.0
21   6   7   0   1   1.0
22   6   7   1   2   3.0
23   6   7   2   3   6.0
24   6   7   3   4   7.0
25   6   7   4   5   6.0
26   6   7   5   6   3.0
27   6   7   6   7   1.0
28   7   8   0   1   3.0
29   7   8   1   2   9.0
30   7   8   2   3  18.0
31   7   8   3   4  21.0
32   7   8   4   5  18.0
33   7   8   5   6   9.0
34   7   8   6   7   3.0
35   8   9   0   1   6.0
36   8   9   1   2  18.0
37   8   9   2   3  36.0
38   8   9   3   4  42.0
39   8   9   4   5  36.0
40   8   9   5   6  18.0
41   8   9   6   7   6.0
42   9  10   0   1   7.0
43   9  10   1   2  21.0
44   9  10   2   3  42.0
45   9  10   3   4  49.0
46   9  10   4   5  42.0
47   9  10   5   6  21.0
48   9  10   6   7   7.0